# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.


#####################################
#           INSTRUCTIONS            #
#####################################
# How to use all this stuff:
#
#     1.  Copy this .cfg file into your Klipper config directory and then add [include stealthburner_leds.cfg]
#         to the top of your printer.cfg in order for register the LEDs and macros with Klipper.
#     2.  Define your LEDs by editing [neopixel sb_leds] below and entering the data pin from your control board
#         as well as the color order.
#
#           Note: RGB and RGBW are different and must be defined explicitly.  RGB and RGBW are also not able to 
#                 be mix-and-matched in the same chain. A separate data line would be needed for proper functioning.
#
#                 RGBW LEDs will have a visible yellow-ish phosphor section to the chip.  If your LEDs do not have
#                 this yellow portion, you have RGB LEDs.
#
#     3.  Save your config and restart Klipper.
#
#           Note: We set RED and BLUE to 1.0 to make it easier for users and supporters to detect 
#                 misconfigurations or miswiring. The default color format is for Neopixels with a dedicated 
#                 white LED. On startup, all three SB LEDs should light up.
#
#                 If you get random colors across your LEDs, change the color_order to GRB and restart. Then
#                 omit the W for each suggested color_order in the next paragraph.
#
#                 If you get MAGENTA, your  color order is correct. If you get CYAN, you need to use RGBW. If
#                 you get YELLOW, you need to use BRGW (note that BRG is only supported in the latest Klipper
#                 version).
#
#     4.  Once you have confirmed that the LEDs are set up correctly, you must now decide where you want 
#         these macros called up...which means adding them to your existing gcode macros.  NOTHING will happen
#         unless you add the STATUS_????? macros to your existing gcode macros.  
#
#           Example: add STATUS_LEVELING to the beginning of your QGL gcode macro, and then add STATUS_READY 
#                    to the end of it to set the logo LED and nozzle LEDs back to the `ready` state.
#
#           Example: add STATUS_CLEANING to the beginning of your nozzle-cleaning macro, and then STATUS_READY
#                    to the end of it to return the LEDs back to `ready` state.
#
#     5.  Feel free to change colors of each macro, create new ones if you have a need to.  The macros provided below
#         are just an example of what is possible.  If you want to try some more complex animations, you will most
#         likely have to use WLED with Moonraker and a small micro-controller (please see the LED thread for help inside
#         of the stealthburner_beta channel on Discord).
#
#####################################
#       END INSTRUCTRUCTIONS        #
#####################################

[gcode_macro _toolchanger_led_vars]
# User settings for the StealthBurner status leds. You can change the status colors and led
# configurations for the logo and nozzle here.
variable_colors: {
        'logo': { # Colors for logo states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
        },
        'nozzle': { # Colors for nozzle states
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }
gcode:
    # This section is required.  Do Not Delete.


[gcode_macro _set_toolchanger_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_toolchanger_leds_by_name]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% if tn < 0 %}
    {% set tn = 0 %}
    {% endif %}
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _toolchanger_led_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _T" + tn|string + "_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _T" + tn|string + "_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_toolchanger_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% if tn < 0 %}
    {% set tn = 0 %}
    {% endif %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _T" + tn|string + "_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _T" + tn|string + "_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_toolchanger_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_nozzle_leds]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% if tn < 0 %}
    {% set tn = 0 %}
    {% endif %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _T" + tn|string + "_vars"].nozzle_led_name %}
    {% set idx = printer["gcode_macro _T" + tn|string + "_vars"].nozzle_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_toolchanger_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}


[neopixel umbilical_leds]
pin: nest:PB4
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 21
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB 
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#


##########################
# LED Effects Animations #
##########################

##################
## logo effects ##
##################

[led_effect umbilical_logo_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    breathing  3 1 top (1,0,0)

[led_effect umbilical_logo_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect umbilical_logo_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect umbilical_logo_heating]
leds:
    neopixel:umbilical_leds (1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2 )
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)

[led_effect umbilical_logo_cooling]
leds:
    neopixel:umbilical_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect umbilical_logo_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect umbilical_logo_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect umbilical_logo_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect umbilical_logo_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect umbilical_logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect umbilical_logo_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:umbilical_leds (1-21)
layers:
    breathing  3 1 top (0.0, 1.0, 0.0)



#####################
## all led effects ##
#####################

[led_effect sb_critical_error]
leds:
    neopixel:umbilical_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true


[led_effect rainbow]
leds:
    neopixel:umbilical_leds
autostart:                          true
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)


#######################
# LED Effects Statics #
#######################

# [led_effect set_nozzle_leds]
# leds:
#     neopixel:umbilical_leds (9,10)
#    #neopixel:caselight
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (0.0,  0.0, 0.0, 1.0)

# [led_effect set_logo_leds]
# leds:
#     neopixel:umbilical_leds (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21)
#    #neopixel:caselight
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (1.0,  1.0, 1.0)

##############
# The Macros #
##############

[gcode_macro set_logo_leds_off]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_logo_leds T={tn} red=0 blue=0 green=0 white=0 transmit={transmit}

[gcode_macro set_nozzle_leds_on]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="on" transmit={transmit}

[gcode_macro set_nozzle_leds_off]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="off" transmit={transmit}

[gcode_macro status_off]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    set_logo_leds_off T={tn} transmit=0
    set_nozzle_leds_off T={tn}

    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="standby" transmit=0
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="standby" transmit=1

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_busy]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="busy" transmit=0
    set_nozzle_leds_on T={tn}
    
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_busy

[gcode_macro status_heating]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="heating" transmit=0
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="heating" transmit=1

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_heating

[gcode_macro status_leveling]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="homing" transmit=0
    set_nozzle_leds_on T={tn}

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_leveling

[gcode_macro status_homing]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="homing" transmit=0
    set_nozzle_leds_on T={tn}

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_homing

[gcode_macro status_cleaning]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="cleaning" transmit=0
    set_nozzle_leds_on T={tn}

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_cleaning

[gcode_macro status_meshing]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="meshing" transmit=0
    set_nozzle_leds_on T={tn}

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_meshing

[gcode_macro status_calibrating_z]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="calibrating_z" transmit=0
    set_nozzle_leds_on T={tn}

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_calibrating_z

[gcode_macro status_printing]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="printing" transmit=0
    set_nozzle_leds_on T={tn}

    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=umbilical_logo_printing


[gcode_macro TEMPERATURE_WAIT]
rename_existing: LEDS_TEMPERATURE_WAIT
gcode:
  {% if params.HEATER is defined %}
    {% for toolname in printer.toolchanger.tool_names %}
      {% if printer[toolname]['extruder'] == params.HEATER %}
        {% set newparameters = " T="~printer[toolname]['tool_number'] %}
        {% if params.TARGET|float > 0 %}
          STATUS_HEATING {newparameters}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  LEDS_TEMPERATURE_WAIT {rawparams}
  {% if newparameters is defined %}
    STATUS_READY {newparameters}
  {% endif %}


[gcode_macro M109]
rename_existing: M109.9999
description: [T<index>] [S<temperature>] [D<Deadband>]
  Set tool temperature and wait with deadband option.
  T= Tool number [optional]. If this parameter is not provided, the current tool is used.
  S= Target temperature
  D= Dead-band, allows the temperature variance +/- the deadband
gcode:
  {% if params.T is defined %}
    {% set newparameters = " T="~params.T %}
  {% endif %}

  {% if params.S is defined %}
    {% set newparameters = newparameters~" S="~params.S %}
  {% endif %}

  {% if params.D is defined %}
    {% set newparameters = newparameters~" D="~params.D %}
  {% endif %}

  SET_TEMPERATURE_WITH_DEADBAND {newparameters}


[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
description: [T<index>] [S<temperature>] [D<Deadband>]
  Set tool temperature and wait.
  T= Tool number [optional]. If this parameter is not provided, the current tool is used.
  S= Target temperature
  D= Dead-band, allows the temperature variance +/- the deadband
variable_default_deadband: 1.0
gcode:
    {% set s = params.S|default(0)|int %}
    {% set tn = params.T|default(printer.tool_probe_endstop.active_tool_number)|int %}
    {% set d = params.D|default(default_deadband)|float %}
    
    {% set tool = printer.toolchanger.tool_names[tn]|default('') %}
    {% set extruder = printer[tool].extruder %}

    SET_HEATER_TEMPERATURE HEATER={extruder} TARGET={s}
    {% if s > 30 %}
        STATUS_HEATING
        RESPOND type=echo MSG='{"Waiting For Extruder with Deadband: "~d}'
        TEMPERATURE_WAIT SENSOR={extruder} MINIMUM={s-(d/2)} MAXIMUM={s+(d/2)}   ; Wait for hotend temp (within D degrees)
    {% endif %}

    STATUS_READY