# Add these to your printer.cfg file
[include toolchanger/macros.cfg]
[include toolchanger/homing.cfg] # might need to modify, assumes sensorless.  Can comment out if using standard homing.
[include toolchanger/tool_detection.cfg]
[include toolchanger/toolchanger.cfg]
[include toolchanger/calibrate-offsets.cfg]
[include tools/T*.cfg]

[include toolchanger-config.cfg]
