[filament_switch_sensor tool_sensor_T0]
pause_on_runout: False
switch_pin: ^!EBBT0:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=0

[filament_switch_sensor extruder_sensor_T0]
pause_on_runout: False
switch_pin: ^!EBBT0:PB4


[filament_switch_sensor tool_sensor_T1]
pause_on_runout: False
switch_pin: ^!EBBT1:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=1

[filament_switch_sensor extruder_sensor_T1]
pause_on_runout: False
switch_pin: ^!EBBT1:PB4


[filament_switch_sensor tool_sensor_T2]
pause_on_runout: False
switch_pin: ^!EBBT2:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=2

[filament_switch_sensor extruder_sensor_T2]
pause_on_runout: False
switch_pin: ^!EBBT2:PB4


[filament_switch_sensor tool_sensor_T3]
pause_on_runout: False
switch_pin: ^!EBBT3:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=3

[filament_switch_sensor extruder_sensor_T3]
pause_on_runout: False
switch_pin: ^!EBBT3:PB4



[gcode_macro INSERT_LOAD_FILAMENT]
gcode:
  {% set tn = params.T|default(0)|int %}  
  {% set extSensor = printer['filament_switch_sensor extruder_sensor_T' + tn|string] %}
  {% set maxExtrudeTry = 100|int %}
  
  {% set extMotor  = 'extruder' %}
  {% if tn > 0 %}
    {% set extMotor = extMotor + tn|string %}
  {% endif %}

  # Load Extruder
  {% for x in range(1, maxExtrudeTry) %}
    {% if extSensor.filament_detected == false %}
      FORCE_MOVE STEPPER={extMotor} DISTANCE=1 VELOCITY=5
    {% endif %}
  {% endfor %}

  {% if printer.print_stats.state != "printing" %}
    {% if printer.quad_gantry_level.applied == False %}
      G32
    {% endif %}

    # Load Hotend
    SELECT_TOOL T={tn}
    SET_TEMPERATURE_WITH_DEADBAND T={tn} S=250
    LOAD_FILAMENT
    SET_TEMPERATURE_WITH_DEADBAND T={tn} S=0
  {% endif %}