# Add these to your printer.cfg file
[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[include toolchanger/macros.cfg]
[include toolchanger/homing.cfg] # might need to modify, assumes sensorless.  Can comment out if using standard homing.
[include toolchanger/tool_detection.cfg]
[include toolchanger/toolchanger.cfg]
[include toolchanger/calibrate-offsets.cfg]
[include tools/T*.cfg]

[include toolchanger-config.cfg]
