# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 


# z_offset can be stored here for easier retrieval vs in T0.cfg.
#[tool_probe T0]
#z_offset = -1.170 # TEXTURED PLATE

#[toolchanger]
#params_fast_speed: 30000 # Go as fast as we can
#params_path_speed: 1800  # slower on the path

#[gcode_macro homing_override_config]
#variable_sensorless_x: True
#variable_sensorless_y: True
#variable_homing_rebound_y: 20
#variable_stepper_driver: "tmc2209"
#variable_homing_current: 0.49

# M109 macro is overridden to allow some deadband on the temp
# default is +- 1 degree.  So if the set temp is 250 the the default
# deadband will be 249-251.  You can adjust this here:

#[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
#variable_default_deadband: 4.0
#gcode:  #this line needs to exist.


# uncomment this to automatically INITIALIZE_TOOLCHANGER
# when klipper starts. 
# [delayed_gcode startup]
# initial_duration: 1
# gcode:
#   INITIALIZE_TOOLCHANGER

# these values need to be set to match the location of your Calibration Switch
# [gcode_macro _CALIBRATION_SWITCH]
# variable_x: 227.471875
# variable_y: 353.703125
# variable_z: 5.00
# gcode:

# [tools_calibrate]
# pin: ^PG12        # pin used for your probe (assumes SexBall)
# travel_speed: 20  # mms to travel sideways for XY probing
# spread: 3         # mms to travel down from top for XY probingS
# lower_z: 0.25     # The distance below the vertical trigger point of the probe to lower when probing for X and Y
# speed: 2          # The speed (in mm/sec) to retract between probes