[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
variable_printing: False
gcode:
    {% set CHAMBER = params.CHAMBER | default(0) | float %}
    {% set SOAK_TIME = params.SOAK_TIME_MINS | default(5) | int %}
    {% set DO_MESH = params.DO_MESH | default(0) | int %}
    {% set NEEDS_T0 = printer.quad_gantry_level.applied == False or DO_MESH == 1 %}

    M117 Initializing...
    INITIALIZE_TOOLCHANGER
    STOP_TOOL_PROBE_CRASH_DETECTION
    CLEAR_PAUSE

    BED_MESH_CLEAR

    STATUS_HEATING
    M140 S{params.BED}

    M117 Homing
    CG28

    
    {% if NEEDS_T0 %}
        M117 T0 Needed
        # Use T0 for bed levelling and whatnot
        T0
        
        TRAY_PARK

        # Heat and clean extruder
        M117 Heating Extruder for Cleaning
        M109 T0 S250

        # M104 T0 S250 # set temp for cleaning. 
        # TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MINIMUM=248 MAXIMUM=252

        COOL_CLEAN
        M104 S150
    {% endif %}
    
    TRAY_PARK
    SKEW_PROFILE LOAD=default

    M117 Waiting for Bed Temp {params.BED}C
    M190 S{params.BED}
        
    # Wait for chamber temp and soak
    {% if CHAMBER > 0 and printer['temperature_sensor chamber'].temperature < CHAMBER %}
        M117 Waiting for Chamber  Temp {CHAMBER}C
        # Park for Heat Soak
        G0 X175 Y175 F15000
        G0 Z5

        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER}
        # start nozzle heating for soak. 
        # M104 S{params.EXTRUDER}
        {% for i in range(0, SOAK_TIME) %}
              M117 Heat Soak {SOAK_TIME - i | int}m Remaining
              G4 P60000
        {% endfor %}
    {% endif %}


    # Run QGL
    {% if not printer.quad_gantry_level.applied %}
        # T0 should already be selected above if we needed it.
        M117 "Quad Gantry Level"
        STATUS_LEVELING
        QUAD_GANTRY_LEVEL
        STATUS_READY
        G28 Z
    {% endif %}  

    
    {% if DO_MESH == 1 %}
        # T0 should already be selected above if we needed it.
        STATUS_MESHING
        M117 Bed Mesh 
        BED_MESH_CALIBRATE ADAPTIVE=1
        STATUS_READY
    {% endif %}

    # M117 Heating up the hotends
    # # Preheat all the hotends in use
    # {% for tool_nr in printer.toolchanger.tool_numbers %}
    #    {% set tooltemp_param = 'T' ~ tool_nr|string ~ '_TEMP' %}
    #    {% if tooltemp_param in params %}
    #        M104 T{tool_nr} S{params[tooltemp_param]}
    #    {% endif %}
    #{% endfor %}
    

    {% if params.TOOL is defined %}
        T{params.TOOL}
        TRAY_PARK
        {% set initialToolTemp = 'T' ~ params.TOOL|string ~ '_TEMP' %}
        M117 Waiting on T{params.TOOL} S{params[initialToolTemp]}C
        #M109 T{params.TOOL} S{params[initialToolTemp]}
        M109 S{params[initialToolTemp]}
    {% endif %}

    BLOBIFIER_CLEAN

    START_TOOL_PROBE_CRASH_DETECTION

    M117 
    STATUS_PRINTING

    SET_IDLE_TIMEOUT TIMEOUT=43200 ; 12hours


[gcode_macro PRINT_END]
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    STOP_TOOL_PROBE_CRASH_DETECTION

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament

    G91                            ; relative positioning
    G0 Z10 F3600

    G90
    T0    #switch back to T0 prior to shutdown
    G0 X60 Y356 F15000
    

    TURN_OFF_HEATERS
    _TOOLCHANGER_TURN_OFF_FANS
    M140 S0                        ; turn off bed

    G90                            ; absolute positioning
    # {% set tool = printer[printer.toolchanger.tool] %}
    # G0 X{tool.params_park_x} Y{tool.params_safe_y} Z300 F3600          ; park nozzle up top
    M18                            ; Motors off
    M117 Print done
    
    #SET_LED LED=led RED=0 GREEN=0 BLUE=0
    
    #SET_LOGO_LEDS_OFF
    #SET_NOZZLE_LEDS_OFF

    # G90                                      ; absolute positioning
    # G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    # G0 X60 Y356 F20000
    M107                                     ; turn off fan
    
    #BED_MESH_CLEAR

    SET_IDLE_TIMEOUT TIMEOUT=1800
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0

    M117 Print done