[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
variable_printing: False
gcode:
    {% set TOOL = params.TOOL | default(-1)| int %}
    {% set EXTRUDER = params.EXTRUDER | default(0) | int %}
    {% set BED = params.BED | default(0) | int %}
    {% set CHAMBER = params.CHAMBER | default(0) | float %}
    {% set SOAK_TIME = params.SOAK_TIME_MINS | default(5) | int %}
    {% set DO_MESH = params.DO_MESH | default(0) | int %}
    {% set NEEDS_T0 = printer.quad_gantry_level.applied == False or DO_MESH == 1 %}
    

    M117 Initializing...
    INITIALIZE_TOOLCHANGER
    STOP_TOOL_PROBE_CRASH_DETECTION
    CLEAR_PAUSE

    BED_MESH_CLEAR

    STATUS_HEATING
    M140 S{BED}

    M117 Homing
    CG28

    SKEW_PROFILE LOAD=default

    M117 Waiting for Bed Temp {BED}C
    M190 S{BED}
        
    # Wait for chamber temp and soak
    {% if CHAMBER > 0 and printer['temperature_sensor chamber'].temperature < CHAMBER %}
        M117 Waiting for Chamber  Temp {CHAMBER}C
        # Park for Heat Soak
        G0 X175 Y175 F15000
        G0 Z5

        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER}
        # start nozzle heating for soak. 
        # M104 S{params.EXTRUDER}
        {% for i in range(0, SOAK_TIME) %}
              M117 Heat Soak {SOAK_TIME - i | int}m Remaining
              G4 P60000
        {% endfor %}
    {% endif %}


    # Run QGL
    {% if not printer.quad_gantry_level.applied %}
        M117 "Quad Gantry Level"
        STATUS_LEVELING
        QUAD_GANTRY_LEVEL
        STATUS_READY
        G28 Z
    {% endif %}  
    
    {% if DO_MESH == 1 %}
        STATUS_MESHING
        M117 Bed Mesh 
        BED_MESH_CALIBRATE ADAPTIVE=1
        STATUS_READY
    {% endif %}   

    {% if TOOL >= 0 %}
        T{params.TOOL}
        POOPER_PARK
        {% set initialToolTemp = 'T' ~ params.TOOL|string ~ '_TEMP' %}
        M117 Waiting on T{params.TOOL} S{params[initialToolTemp]}C
        #M109 T{params.TOOL} S{params[initialToolTemp]}
        M109 S{params[initialToolTemp]}
    {% else %} # no tool specified...assume T0
        T0
        POOPER_PARK
        M109 S{EXTRUDER}
    {% endif %}

    POOPER_CLEAN

    START_TOOL_PROBE_CRASH_DETECTION

    M117 
    STATUS_PRINTING

    SET_IDLE_TIMEOUT TIMEOUT=43200 ; 12hours


[gcode_macro PRINT_END]
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    STOP_TOOL_PROBE_CRASH_DETECTION

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament

    G91                            ; relative positioning
    G0 Z10 F3600

    G90
    UNSELECT_TOOL                  ;dock the tool
    G0 X60 Y350 F15000             ;park at the back
    
    TURN_OFF_HEATERS
    _TOOLCHANGER_TURN_OFF_FANS
    M140 S0                         ; turn off bed

    G90                            ; absolute positioning
    #M18                            ; Motors off
    M117 Print done
    
    M107                           ; turn off fan

    SET_IDLE_TIMEOUT TIMEOUT=300 # 5 minutes
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0

    M117 Print done