[toolchanger]
  stepper_driver: tmc2209
  sensorless_x: True # Should X axis be sensorless or not. True for sensorless, False for switch
  sensorless_y: True # Should Y axis be sensorless or not. True for sensorless, False for switch
  
  tools_preheat: False # Preheat tools in PRINT_START if the slicer sends the heat values
  # Docking options
  params_safe_y: 120 # This should be the thickness of your thickest tool from the park_y. If park_y is 0 and your thickest tool is 80, this should be 80
  params_close_y: 25 # This should be the thickness of the shuttle and a little buffer
  params_fast_speed: 30000 #30000 # Go as fast as we can
  params_path_speed: 6000 #6000 # 20mm/s for the actual changw

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 4.0


[gcode_macro _TOOLCHANGER_CLEAN_NOZZLE]
gcode:
    BLOBIFIER_CLEAN

[gcode_macro LOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=load_filament_state
  TRAY_PARK
  G91
	# Extrude 200 mm
	G0 E50 F300
	G0 E50 F300
	G0 E50 F300
	G0 E50 F300
  G0 E-5 F2000

  BLOBIFIER_CLEAN
  RESTORE_GCODE_STATE NAME=load_filament_state


[gcode_macro _CALIBRATION_SWITCH]
variable_x: 227.471875
variable_y: 353.703125
variable_z: 5.00
gcode:

[tools_calibrate]
pin: ^PG12
travel_speed: 20  # mms to travel sideways for XY probing
spread: 3  # mms to travel down from top for XY probingS
lower_z: 0.25 # The speed (in mm/sec) to move tools down onto the probe
speed: 2  # The speed (in mm/sec) to retract between probes