[include readonly-configs/toolchanger-include.cfg]

[tool_crash]
crash_gcode:
    TEST_CRASH


[gcode_macro TEST_CRASH]
gcode: 
    M400
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Aborting the print.' 
    G91
    G0 Z5 E-2 F3600
    G90
    G0 X175 Y350 F12000
    M84
    TURN_OFF_HEATERS

#[include ../AFC/*.cfg]
[include toolchanger-loading-macros.cfg]
[include ../macros/pooper.cfg]
[include LEDs.cfg]