# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

[toolchanger]
params_dropoff_path: [{'y':16, 'z':10}, {'z':0, 'y':0, 'f':0.5},{'z':-10, 'y':0},{'z':-10, 'y':16}]
params_pickup_path: [{'z':-10, 'y':16}, {'z':-10, 'y':0}, {'z':0, 'y':0, 'f':0.5, 'verify':1}, {'y':0, 'z':5}, {'y':16, 'z':5}]
params_safe_y: 120
params_close_y: 30
params_fast_speed: 30000 # Go as fast as we can
params_path_speed: 6000 # 20mm/s for the actual change
require_tool_present: False # can set to False if using Beacon/Cartographer/Eddy for Z probe.

# this section must be completed
[gcode_macro homing_override_config]
variable_sensorless_x: True
variable_sensorless_y: True
variable_homing_rebound_y: 175 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc2209"
variable_homing_current: 0.49

# M109 macro is overridden to allow some deadband on the temp
# default is +- 1 degree.  So if the set temp is 250 the the default
# deadband will be 249-251.  You can adjust this here:

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 4.0

# these values need to be set to match the location of your Calibration Switch
[gcode_macro _CALIBRATION_SWITCH]
variable_x: 227.640625
variable_y: 346.418750
variable_z: 5.00
gcode:

[tools_calibrate]
pin: ^PG12
travel_speed: 20  # mm/s for horizontal (XY) travel moves during probing
spread: 3  # mm to move away from center before probing back inwards, in each direction (X+/X-/Y+/Y-)
lower_z: 0.25 # mm to lower the tool from the top position before starting the XY probe moves
speed: 2  # mm/s for the actual probing move (down/sideways until the probe triggers)