[filament_switch_sensor tool_sensor_T0]
pause_on_runout: False
switch_pin: ^!EBBT0:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=0

[filament_switch_sensor extruder_sensor_T0]
pause_on_runout: False
switch_pin: ^!EBBT0:PB4


[filament_switch_sensor tool_sensor_T1]
pause_on_runout: False
switch_pin: ^!EBBT1:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=1

[filament_switch_sensor extruder_sensor_T1]
pause_on_runout: False
switch_pin: ^!EBBT1:PB4


[filament_switch_sensor tool_sensor_T2]
pause_on_runout: False
switch_pin: ^!EBBT2:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=2

[filament_switch_sensor extruder_sensor_T2]
pause_on_runout: False
switch_pin: ^!EBBT2:PB4


[filament_switch_sensor tool_sensor_T3]
pause_on_runout: False
switch_pin: ^!EBBT3:PB3
insert_gcode:
  INSERT_LOAD_FILAMENT T=3

[filament_switch_sensor extruder_sensor_T3]
pause_on_runout: False
switch_pin: ^!EBBT3:PB4



[gcode_macro INSERT_LOAD_FILAMENT]
gcode:
  {% set tn = params.T|default(0)|int %}  
  {% set maxExtrudeTry = 100|int %}
  {% set didToolSelection = 0 %}

  # Load Extruder
  {% for x in range(1, maxExtrudeTry) %}
    _INSERT_LOAD_FILAMENT_HELPER T={tn}
  {% endfor %}


  {% if printer.print_stats.state != "printing" %}
    {% if printer.quad_gantry_level.applied == False %}
      G32
    {% endif %}

    # Load Hotend
    {% set ns = namespace( didToolSelection = 0, selectedTool = -1 )%}
    {% set ns.selectedTool = printer.toolchanger.tool_number %}

    {% if ns.selectedTool != tn %}
      SELECT_TOOL T={tn}
      {% set ns.didToolSelection = 1 %}
    {% endif %}
    
    LOAD_FILAMENT

    # Restore previous tool if we changed it
    {% if ns.didToolSelection == 1 %}
      {% if ns.selectedTool > -1 %}
        SELECT_TOOL T={ns.selectedTool}
      {% else %}
        UNSELECT_TOOL
      {% endif %}
    {% endif %}

  {% endif %}

[gcode_macro _INSERT_LOAD_FILAMENT_HELPER]
gcode: 
  {% set tn = params.T|default(0)|int %}  
  {% set extSensor = printer['filament_switch_sensor extruder_sensor_T' + tn|string] %}
  
  {% set extMotor  = 'extruder' %}
  {% if tn > 0 %}
    {% set extMotor = extMotor + tn|string %}
  {% endif %}

  {% if extSensor.filament_detected == False %}
    FORCE_MOVE STEPPER={extMotor} DISTANCE=1 VELOCITY=5
  {% else %}
    RESPOND TYPE=echo MSG='T{tn|string} Extruder Filament Detected!'
  {% endif %}

[gcode_macro UNLOAD_ALL]
gcode: 

  # start heating all tools that have filament detected
  {% for tn in printer.toolchanger.tool_numbers %}
    {% if printer['filament_switch_sensor tool_sensor_T' + tn|string].filament_detected == True %}
      M104 S250 T{tn}
    {% endif %}
  {% endfor %}


  # unload each tool
  {% for tn in printer.toolchanger.tool_numbers %}
    {% if printer['filament_switch_sensor tool_sensor_T' + tn|string].filament_detected == True %}
      RESPOND TYPE=echo MSG='Unloading T{tn|string} ... '
      UNLOAD_ONE T={tn}
      RESPOND TYPE=echo MSG='T{tn|string} Unloaded.'
    {% else %}
      RESPOND TYPE=echo MSG='T{tn|string} not loaded, skipping unload
    {% endif %}
  {% endfor %}

[gcode_macro UNLOAD_ONE]
variable_unload_distance:  300
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    {% set tn = params.T|default(-1)|int %}  

    {% if tn < 0 %}
      RESPOND TYPE=error MSG='No tool selected, cannot unload filament.'
    {% else %}
      SAVE_GCODE_STATE NAME=unload_state
      M109 S250 T{tn}
      
      {% set extMotor  = 'extruder' %}
      {% if tn > 0 %}
        {% set extMotor = extMotor + tn|string %}
      {% endif %}

      # ram
      FORCE_MOVE STEPPER={extMotor} DISTANCE=1 VELOCITY=15
      FORCE_MOVE STEPPER={extMotor} DISTANCE=-3 VELOCITY=15
      FORCE_MOVE STEPPER={extMotor} DISTANCE=3 VELOCITY=15
      FORCE_MOVE STEPPER={extMotor} DISTANCE=-3 VELOCITY=15
      FORCE_MOVE STEPPER={extMotor} DISTANCE=3 VELOCITY=15
      # retract
      FORCE_MOVE STEPPER={extMotor} DISTANCE=-{unload_distance} VELOCITY={max_velocity}
      
      RESTORE_GCODE_STATE NAME=unload_state
      M104 S0 T{tn}
    {% endif %}