#========================================
#=================  T0  =================
#========================================
[neopixel T0_leds]
pin: EBBT0:PD3
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[gcode_macro _T0_vars]
variable_logo_led_name:         "T0_leds"
variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T0_leds"
# variable_nozzle_idx:            "2,3"
gcode:


#========================================
#=================  T1  =================
#========================================
[neopixel T1_leds]
pin: EBBT1:PD3
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[gcode_macro _T1_vars]
variable_logo_led_name:         "T1_leds"
variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T1_leds"
# variable_nozzle_idx:            "2,3"
gcode:


#========================================
#=================  T2  =================
#========================================
[neopixel T2_leds]
pin: EBBT2:PD3
chain_count: 2
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[gcode_macro _T2_vars]
variable_logo_led_name:         "T2_leds"
variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T2_leds"
# variable_nozzle_idx:            "2,3"
gcode:


#========================================
#=================  T3  =================
#========================================
[neopixel T3_leds]
pin: EBBT3:PD3
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[gcode_macro _T3_vars]
variable_logo_led_name:         "T3_leds"
variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T3_leds"
# variable_nozzle_idx:            "2,3"
gcode: